<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsf="http://jsf.jd.com/schema/jsf"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://jsf.jd.com/schema/jsf http://jsf.jd.com/schema/jsf/jsf.xsd">
    <!-- 注册中心  192.168.150.121 i.jsf.jd.com  #测试index服务地址 -->
    <jsf:registry id="jsfRegistry" protocol="jsfRegistry" index="i.jsf.jd.com"/>
    <!--服务调用者配置 直连使用 url="jsf://10.12.113.111:22000;jsf://10.12.113.112:22000" -->
    <jsf:consumer id="innervipcartManageService" interface="com.jd.o2o.vipcart.inner.api.InnervipcartManageService"
                  protocol="jsf" alias="${mvn.jsf.service.alias}" timeout="100000" retries="0">
    </jsf:consumer>
    <jsf:consumer id="innerActivityManageService" interface="com.jd.o2o.vipcart.inner.api.InnerActivityManageService"
                  protocol="jsf" alias="${mvn.jsf.service.alias}" timeout="100000" retries="0">
    </jsf:consumer>
    <jsf:consumer id="innervipcartCodeManageService" interface="com.jd.o2o.vipcart.inner.api.InnervipcartCodeManageService"
                  protocol="jsf" alias="${mvn.jsf.service.alias}" timeout="100000" retries="0">
    </jsf:consumer>

    <jsf:consumer id="innerToolService" interface="com.jd.o2o.vipcart.inner.api.InnerToolService"
                  protocol="jsf" alias="${mvn.jsf.service.alias}" timeout="100000" retries="0">
    </jsf:consumer>

    <!--风控系统-->
    <jsf:consumer id="o2oRiskService" interface="com.jd.o2o.risk.api.O2ORiskService"
                  alias="${mvn.jsf.o2o.risk.alias}" protocol="jsf" timeout="1000" retries="0"/>
</beans>