#set($layout = "layout/null.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>登录认证管理系统</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
##  <link href="https://www.jd.com/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="#springUrl('/static/css/layout/style.css')" type="text/css" charset="utf-8"/>
</head>
<body>
<div id="footer">
  <div class="copyright">
    Copyright©2014-2016 上海趣盛网络科技有限公司 沪ICP备14033539号 版权所有
  </div>
</div>
</body>
</html>
