<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>创建优惠券</title>
    <link rel="stylesheet" type="text/css" href="../libs/semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="../libs/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../libs/jquery-ui/jquery.datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../libs/jquery-ui/jquery-ui-timepicker-addon.min.css">
    <link rel="stylesheet" type="text/css" href="../dist/css/edit_activity.bundle.css">
  </head>
  <body>
    <div class="page">
      <div class="page-header">
        <h5>创建优惠券</h5>
      </div>
      <form class="content">
        <div class="part">
          <h5>活动信息</h5>
          <ul class="ui form">
            <li>
              <label class="empty">活动名称：</label>
              <div v-if="type == 1">
                <div class="ui input inline field">
                  <input name="activityName" type="text" maxlength="40">
                </div>
                <span>字符长度不超过40个</span>
              </div>
              <div v-else>
                {{info.activityName}}
              </div>
            </li>
            <li>
              <label class="empty">活动时间：</label>
              <div v-if="type == 1" class="pfield inline field">
                <div class="ui input icon time field">
                  <i class="calendar icon"></i>
                  <input name="beginTime" type="text">
                </div>
                -
                <div class="ui input icon time field">
                  <i class="calendar icon"></i>
                  <input name="endTime" type="text">
                </div>
              </div>
              <div v-else>
                {{info.beginTime}} 至 {{info.endTime}}
              </div>
            </li>
            <li>
              <label class="empty">领取次数：</label>
              <div v-if="type == 1 || type == 2" class="field">
                <div class="ui radio checkbox">
                  <input name="limitMax" type="radio" value="0"  v-model="info.limitMax" checked>
                </div><span class="radio-label pfield inline field" @click="onCheck($event)">活动期限内
                  <div class="ui input short field"><input name="limitMaxTimes" :value="info.limitMax == 1 ? '0' : info.limitMaxTimes" maxlength="3"></div>
                  次，且每天
                  <div class="ui input short field"><input name="limitMaxTimesDay" :value="info.limitMax == 1 ? '0' : info.limitMaxTimesDay" maxlength="3"></div>
                  次
                </span>
                <span>单个用户允许领取的次数，0为不限制</span>
              </div>
              <div v-else>
                活动期限内 {{info.limitMaxTimes}} 次，且每天 {{info.limitMaxTimesDay}} 次
              </div>
            </li>
            <li>
              <label></label>
              <div v-if="type == 1 || type == 2" class="field">
                <div class="ui radio checkbox">
                  <input name="limitMax" type="radio" value="1" v-model="info.limitMax">
                  <label>不限制</label>
                </div>
              </div>
            </li>
            <!-- <li>
              <label>显示位置：</label>
                <div v-if="type == 1 || type == 2" class="field"><div class="ui checkbox">
                  <input name="showLocation[]" type="checkbox" v-model="info.showLocation" value="101">
                  <label>门店页</label>
                </div>
                <div class="spacing"></div>
                <div class="ui checkbox">
                  <input name="showLocation[]" type="checkbox" v-model="info.showLocation" value="401" >
                  <label>福利频道</label>
                </div>
                <div class="spacing"></div>
                <div class="ui checkbox">
                  <input name="showLocation[]" type="checkbox" v-model="info.showLocation" value="201">
                  <label>领券中心</label>
                </div>
                <span>门店页与领券中心只允许创建单优惠券的活动</span>
              </div>
              <div v-else>
                {{info.showLocation | showLocation}}
              </div>
            </li> -->
            <li>
              <label class="empty">领取模式：</label>
              <div v-if="type == 1" class="field">
                <div class="ui radio checkbox">
                  <input name="grabMode" type="radio" value="2" checked>
                  <label>领取全部优惠券</label>
                </div>
                <div class="spacing"></div>
                <div class="ui radio checkbox">
                  <input name="grabMode" type="radio" value="1">
                  <label>领取其中一张优惠券</label>
                </div>
              </div>
              <div v-else>
                {{info.grabMode == 2 ? '领取全部优惠券' : '领取其中一张优惠券'}}
              </div>
            </li>
            <li>
              <label class="empty">是否新人：</label>
              <div v-if="type == 1" class="field">
                <div class="ui radio checkbox">
                  <input name="isNewPerson" type="radio" value="0" checked>
                  <label>否</label>
                </div>
                <div class="spacing"></div>
                <div class="ui radio checkbox">
                  <input name="isNewPerson" type="radio" value="1">
                  <label>是</label>
                </div>
                <span>是否只允许未注册的用户领取活动优惠券</span>
              </div>
              <div v-else>
                {{info.isNewPerson == 1 ? '是' : '否'}}
              </div>
            </li>
            <li>
              <label class="empty">是否限首单用户：</label>
              <div v-if="type == 1" class="field">
                <div class="ui radio checkbox">
                  <input name="islimitRule" type="radio" value="0" checked>
                  <label>否</label>
                </div>
                <div class="spacing"></div>
                <div class="ui radio checkbox">
                  <input name="islimitRule" type="radio" value="1">
                  <label>是</label>
                </div>
                <span>是否只允许未下首单的用户领取活动优惠券</span>
              </div>
              <div v-else>
                {{info.islimitRule == 1 ? '是' : '否'}}
              </div>
            </li>
          </ul>
        </div>

        <div class="part">
          <h5>页面设置</h5>
          <ul class="ui form">
            <li>
              <label class="empty">广告词：</label>
              <div v-if="type == 1">
                <div class="ui input">
                  <input name="adWords" v-model="info.adWords" type="text" placeholder="商超即可送到家" maxlength="7">
                </div>
                <a href="javascript:void(0);" @click="onShow()">预览样式</a>
                <span>字符长度不超过7个</span>
              </div>
              <div v-else>
                {{info.adWords}}
              </div>
            </li>
            <li>
              <label class="empty">活动规则：</label>
              <div v-if="type == 1">
                <div class="ui input textarea">
                  <textarea name="ruleDesc" v-model="info.ruleDesc" rows="5" placeholder="1、每张优惠券同一设备、同一ID、同一用户每天仅限领取一次;2、每个订单仅限使用一张优惠券，优惠券金额不能兑换现金;" maxlength="100"></textarea>
                </div>
                <a href="javascript:void(0);" @click="onShow()">预览样式</a>
                <span>每条规则请以英文分号结束</span>
              </div>
              <div v-else>
                {{info.ruleDesc}}
              </div>
            </li>
          </ul>
        </div>

        <div class="part">
          <h5>分享设置</h5>
          <ul class="ui form">
            <li>
              <label class="empty">微信分享标题：</label>
              <div v-if="type == 1 || type == 2">
                <div class="ui input">
                  <input name="shareTitle" v-model="info.shareTitle" type="text" placeholder="京东到家 - 1小时达！" maxlength="40">
                </div>
                <a href="javascript:void(0);" @click="onShow('share')">预览样式</a>
                <span>字符长度不超过40个</span>
              </div>
              <div v-else>
                {{info.shareTitle}}
              </div>
            </li>
            <li>
              <label class="empty">微信分享详情：</label>
              <div v-if="type == 1 || type == 2">
                <div class="ui input textarea">
                  <textarea name="shareDetail" v-model="info.shareDetail" rows="5" placeholder="超市、生鲜、外卖、医药，数万款附近商品，足不出户，1小时送上门！" maxlength="100"></textarea>
                </div>
                <a href="javascript:void(0);" @click="onShow('share')">预览样式</a>
                <span>每条规则请字符长度不超过100个以英文分号结束</span>
              </div>
              <div v-else>
                {{info.shareDetail}}
              </div>
            </li>
            <li>
              <label>微信分享图片：</label>
              <div v-if="type == 1 || type == 2">
                <input id="shareImg" type="file" class="hide" @change="onUpload()"/>
                <input name='shareImg' type="hidden"/>
                <a class="ui secondary button" @click="onSelect()">浏览</a>
                <span v-if="!info.imgUrl">未选择文件</span>
                <img v-else :src="info.imgUrl"/>
                <a href="javascript:void(0);" @click="onShow('share')">预览样式</a>
                <span>图片尺寸为100*100</span>
              </div>
              <div v-else>
                <img :src="info.imgUrl"/>
              </div>
            </li>
          </ul>
        </div>
      </form>
      <div  v-if="type == 1" class="button-panel">
        <a class="ui secondary button" @click="onSubmit()">保存活动，继续添加优惠券</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0);" @click="onClear()">重置</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0);" @click="onReview()">预览</a>
      </div>
      <div  v-if="type == 2" class="button-panel">
        <a class="ui secondary button" @click="onUpdate()">保存</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0);" @click="onBack()">取消</a>
      </div>
      <div  v-if="type == 3" class="button-panel">
        <a class="ui secondary button" @click="onBack()">返回</a>
      </div>
      <page-footer></page-footer>
      <div class="review_panel">
        <img :src="imgUrl.redBg" />
        <div class="title">{{getAdWords}}</div>
        <div class="info">{{{getRuleDesc | wrap ';'}}}</div>
        <div class="close" @click="onHide()"><i class="remove circle outline icon"></i></div>
      </div>
      <div class="review_share_panel">
        <div class="title">{{getShareTitle}}</div>
        <div class="info">
          <div class="text">{{getShareDetail}}</div>
          <div class="img">
            <img v-if="!info.imgUrl" :src="imgUrl.djLogo" />
            <img v-else :src="info.imgUrl" />
          </div>
        </div>
        <div class="bottom"><img :src="imgUrl.djLogo" />京东到家</div>
        <div class="close" @click="onHide('share')"><i class="remove circle outline icon"></i></div>
      </div>
    </div>
  </body>
    <script src="../libs/jquery/jquery.js"></script>
    <script src="../libs/jquery-ui/jquery-ui.js"></script>
    <script src="../libs/jquery-ui/datepicker-zh-CN.js"></script>
    <script src="../libs/jquery-ui/jquery.datetimepicker.full.min.js"></script>
    <script src="../libs/jquery-ui/jquery-ui-timepicker-addon.js"></script>
    <script src="../libs/jquery-ui/i18n/jquery-ui-timepicker-zh-CN.js"></script>
    <script src="../libs/semantic/semantic.js"></script>
    <script src="../dist/js/edit_activity.bundle.js"></script>
</html>
