<!DOCTYPE HTML>
<html>
<head>
    #parse("/common/import.vm" )
    <script type="text/javascript" src="#springUrl('/static/js/business/common/manage.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/js/business/spider/spiderConfig.js')"></script>
    <title></title>
    <script type="text/javascript">
        $(document).ready(function() {
            handler.initList("spiderConfigListDiv");
        });
    </script>
</head>
<body>
	<div id="spiderConfigListDiv" v="spiderConfig">
		<div id="operation_table">
			<div class="toolbar">
    			<input type="buttion" class="b_text add" value="新 增">
    			<input type="buttion" class="b_text deleteAll" value="删 除">
			</div>
			<div class="title">
				<div class="text quickSearch">
					<select class="quickSearchKey">
						<option value="spiderName">爬取名称</option>
						<option value="spiderType">爬取类型 1:URL 2:content</option>
						<option value="outTableName">输出数据库表名称</option>
						<option value="baseUrl">基础url</option>
						<option value="state">爬取状态 1:开启 2:运行中 3:暂停 4:废弃</option>
					</select>
					<input type="text" quickSearchKey="spiderName" class="quickSearchValue" title="按下回车进行快速查询，按下Esc进行表单查询"/>
					<input type="button" class="b_text quickSearchButton" value="搜 索"/>
				</div>
			</div>
			<div class="list">
				<table>
					<tr>
						<th><input type="checkbox" name="spiderConfigAllCheckbox"></th>
						<th>自增ID</th>
						<th>爬取名称</th>
						<th>爬取类型</th>
						<th>爬取url</th>
						<th>输出表</th>
						<th>基础url</th>
						<th>扫描表达式</th>
						<th>项目表达式</th>
						<th>时间规则表达式</th>
						<th>爬取深度（分页）</th>
						<th>爬取状态 </th>
						<th>爬取次数</th>
						<th>上次爬取时间</th>
						<th>备注</th>
						<th>创建时间</th>
						<th>更新时间</th>
						<th>操 作</th>
					</tr>
            #if(${result} && ${result.result})
    			#set ($list=${result.result})
    			#if($list && ${result.result.resultList})
    				#set ($list=${result.result.resultList})
    			#end
    			#foreach( $data in $list )
					<tr>
						<td><input type="checkbox" name="spiderConfigCheckbox" value="${data.id}"></td>
						<td>$!{data.id}</td>
						<td>$!{data.spiderName}</td>
						<td>
                            #if(${data.spiderType}==1)
                                URL
                            #elseif(${data.spiderType}==2)
                                Content
                            #else
                                $!{data.spiderType}
                            #end
                        </td>
						<td>$!{data.url}</td>
						<td>$!{data.outTableName}</td>
						<td>$!{data.baseUrl}</td>
						<td>$!{data.scanExpressions}</td>
						<td class="itemRules">$!{data.itemRules}</td>
						<td>$!{data.scheduledCron}</td>
						<td>$!{data.deepNum}</td>
						<td>
                            #if(${data.state}==1)
                                开启
                            #elseif(${data.state}==2)
                                运行中
                            #elseif(${data.state}==3)
                                暂停
                            #elseif(${data.state}==4)
                                废弃
                            #else
                                ${data.state}
                            #end
                        </td>
						<td>$!{data.spiderNum}</td>
						<td>$!dateFormatUtils.format($!{data.lastSpiderTime},"yyyy-MM-dd HH:mm:ss")</td>
						<td>$!{data.remark}</td>
						<td>$!dateFormatUtils.format($!{data.createTime},"yyyy-MM-dd HH:mm:ss")</td>
						<td>$!dateFormatUtils.format($!{data.updateTime},"yyyy-MM-dd HH:mm:ss")</td>
						<td class="manage">
							<input type="button" class="b_text edit" v="${data.id}" value="修 改">
							<input type="button" class="b_text delete" v="${data.id}" value="删 除">
						</td>
					</tr>
			#end
		#end
				</table>
			</div>
##			#parse("/common/error.vm")
        	<!--分页-->
        	<div class="msdn">
        		#pageTag("/spiderConfig", "plist",$page,$params)
        	</div>
		</div>
	</div>
</body>
</html>