<!DOCTYPE HTML>
<html>
<head>
    #parse("/common/import.vm" )
    <script type="text/javascript" src="#springUrl('/static/js/business/common/manage.js')"></script>
    <title>SpiderConfig</title>
    <script type="text/javascript">
        $(document).ready(function() {
            handler.initSearch("spiderConfigSearchDiv");
        });
    </script>
</head>
<body>
	<div id="spiderConfigSearchDiv" v="spiderConfig">
		<div id="operation">
		<form method="post" id="spiderConfigSearchForm" name="spiderConfigSearchForm" action="">
			<div id="operation_table">
				<div class="title"><div class="text">查询区</div></div>
				<div class="search">
					<table>
						<tr>
							<th>自增ID</th>
							<td><input id="id" name="id" type="text" value="$!{result.id}"/></td>
							<th>爬取名称</th>
							<td><input id="spiderName" name="spiderName" type="text" value="$!{result.spiderName}"/></td>
							<th>爬取类型 1:URL 2:content</th>
							<td>
                                <select  id="spiderType" name="spiderType">
                                    <option value="">不限</option>
                                    <option value="1">URL</option>
                                    <option value="2">content</option>
                                </select>
                            </td>
						</tr>
						<tr>
							<th>输出库表名称</th>
							<td><input id="outTableName" name="outTableName" type="text" value="$!{result.outTableName}"/></td>
                            <th>状态</th>
                            <td>
                                <select  id="state" name="state">
                                    <option value="">不限</option>
                                    <option value="1">开启</option>
                                    <option value="2">运行中</option>
                                    <option value="3">暂停</option>
                                    <option value="4">废弃</option>
                                </select>
                            </td>
                            <th colspan="2" class="manage">
                                <input class="b_foot_long find" type="button" onClick="checksubmit(spiderConfigSearchForm)" value="查 询"/>
                                <input class="b_foot_long" type="reset" value="清 空"/>
                            </th>
						</tr>
    				</table>
    			</div>
    		</div>
    	</form>
    </div>
##	#parse("/common/error.vm")
    <div id="searchList">
		#parse("/spiderConfig/listSpiderConfig.vm" )
	</div>
</div>
</body>
</html>