<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- recommended not modified but can be added ,Please contact liuhuiqing@jd.com for good advice.-->
<mapper namespace="brand_infoMapper">
	<resultMap id="brandInfoMap" type="com.jd.o2o.vipcart.domain.entity.BrandInfoEntity">
		<result column="id" property="id" jdbcType="BIGINT" javaType="Long"/>
		<result column="brand_code" property="brandCode" jdbcType="VARCHAR" javaType="String"/>
		<result column="brand_name" property="brandName" jdbcType="VARCHAR" javaType="String"/>
		<result column="brand_desc" property="brandDesc" jdbcType="VARCHAR" javaType="String"/>
		<result column="brand_img" property="brandImg" jdbcType="VARCHAR" javaType="String"/>
		<result column="brand_status" property="brandStatus" jdbcType="TINYINT" javaType="Integer"/>
		<result column="brand_level" property="brandLevel" jdbcType="INTEGER" javaType="Integer"/>
		<result column="sort" property="sort" jdbcType="INTEGER" javaType="Integer"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result column="create_pin" property="createPin" jdbcType="VARCHAR" javaType="String"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result column="update_pin" property="updatePin" jdbcType="VARCHAR" javaType="String"/>
		<result column="sys_version" property="sysVersion" jdbcType="INTEGER" javaType="Integer"/>
		<result column="yn" property="yn" jdbcType="TINYINT" javaType="Integer"/>
		<result column="ts" property="ts" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
	</resultMap>
    
    <sql id="select-all-column">
		SELECT
			id AS id,
			brand_code AS brandCode,
			brand_name AS brandName,
			brand_desc AS brandDesc,
			brand_img AS brandImg,
			brand_status AS brandStatus,
			brand_level AS brandLevel,
			sort AS sort,
			create_time AS createTime,
			create_pin AS createPin,
			update_time AS updateTime,
			update_pin AS updatePin,
			sys_version AS sysVersion,
			yn AS yn,
			ts AS ts
		FROM brand_info
	</sql>
	
	<sql id="where-all-condition">
		1=1 
		<if test="id != null">
			and id = #{id,jdbcType=BIGINT}
		</if>
		<if test="brandCode != null and brandCode != ''">
			and brand_code = #{brandCode,jdbcType=VARCHAR}
		</if>
		<if test="brandName != null and brandName != ''">
			and brand_name = #{brandName,jdbcType=VARCHAR}
		</if>
		<if test="brandDesc != null and brandDesc != ''">
			and brand_desc = #{brandDesc,jdbcType=VARCHAR}
		</if>
		<if test="brandImg != null and brandImg != ''">
			and brand_img = #{brandImg,jdbcType=VARCHAR}
		</if>
		<if test="brandStatus != null">
			and brand_status = #{brandStatus,jdbcType=TINYINT}
		</if>
		<if test="brandLevel != null">
			and brand_level = #{brandLevel,jdbcType=INTEGER}
		</if>
		<if test="sort != null">
			and sort = #{sort,jdbcType=INTEGER}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="createPin != null and createPin != ''">
			and create_pin = #{createPin,jdbcType=VARCHAR}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="updatePin != null and updatePin != ''">
			and update_pin = #{updatePin,jdbcType=VARCHAR}
		</if>
		<if test="sysVersion != null">
			and sys_version = #{sysVersion,jdbcType=INTEGER}
		</if>
		<if test="yn != null">
			and yn = #{yn,jdbcType=TINYINT}
		</if>
		<if test="ts != null">
			and ts = #{ts,jdbcType=TIMESTAMP}
		</if>
	</sql>
	
	<select id="selectBrandInfo" parameterType="com.jd.o2o.vipcart.domain.entity.BrandInfoEntity" resultMap="brandInfoMap">
		<include refid="select-all-column"/>
		<where>
		<include refid="where-all-condition"/>
		<include refid="commonRoadMapper.sortSql"/>
		<include refid="commonRoadMapper.pagingLimit"/>
		</where>
	</select>
	
	<select id="selectOneBrandInfo" parameterType="java.lang.Long" resultMap="brandInfoMap">
		<include refid="select-all-column"/>
		WHERE
		id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="countBrandInfo" parameterType="com.jd.o2o.vipcart.domain.entity.BrandInfoEntity" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM brand_info
		<where>
		<include refid="where-all-condition"/>
		</where>
	</select>
	
	<insert id="insertBrandInfo" parameterType="com.jd.o2o.vipcart.domain.entity.BrandInfoEntity" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO brand_info (
	<if test="brandCode != null">
		brand_code,
	</if>
	<if test="brandName != null">
		brand_name,
	</if>
	<if test="brandDesc != null">
		brand_desc,
	</if>
	<if test="brandImg != null">
		brand_img,
	</if>
	<if test="brandStatus != null">
		brand_status,
	</if>
	<if test="brandLevel != null">
		brand_level,
	</if>
	<if test="sort != null">
		sort,
	</if>
	<if test="createPin != null">
		create_pin,
	</if>
	<if test="updatePin != null">
		update_pin,
	</if>
	<if test="sysVersion != null">
		sys_version,
	</if>
	<if test="yn != null">
		yn,
	</if>
		create_time,
		update_time,
		ts
	) VALUES (
    <if test="brandCode != null">
    	#{brandCode,jdbcType=VARCHAR},
    </if>
    <if test="brandName != null">
    	#{brandName,jdbcType=VARCHAR},
    </if>
    <if test="brandDesc != null">
    	#{brandDesc,jdbcType=VARCHAR},
    </if>
    <if test="brandImg != null">
    	#{brandImg,jdbcType=VARCHAR},
    </if>
    <if test="brandStatus != null">
    	#{brandStatus,jdbcType=TINYINT},
    </if>
    <if test="brandLevel != null">
    	#{brandLevel,jdbcType=INTEGER},
    </if>
    <if test="sort != null">
    	#{sort,jdbcType=INTEGER},
    </if>
    <if test="createPin != null">
    	#{createPin,jdbcType=VARCHAR},
    </if>
    <if test="updatePin != null">
    	#{updatePin,jdbcType=VARCHAR},
    </if>
    <if test="sysVersion != null">
    	#{sysVersion,jdbcType=INTEGER},
    </if>
    <if test="yn != null">
    	#{yn,jdbcType=TINYINT},
    </if>
		now(),
		now(),
		now()
	)
	</insert>
	
	<insert id="insertBrandInfoBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
	<selectKey resultType="long" keyProperty="id" order="AFTER">
		SELECT
		LAST_INSERT_ID()
	</selectKey>
	INSERT INTO brand_info (
		brand_code,
		brand_name,
		brand_desc,
		brand_img,
		brand_status,
		brand_level,
		sort,
		create_pin,
		update_pin,
		yn,
		create_time,
		update_time,
		ts
	) VALUES
	<foreach collection="list" item="item" index="index" separator=",">
    (
		#{item.brandCode,jdbcType=VARCHAR},
		#{item.brandName,jdbcType=VARCHAR},
		#{item.brandDesc,jdbcType=VARCHAR},
		#{item.brandImg,jdbcType=VARCHAR},
		#{item.brandStatus,jdbcType=TINYINT},
		#{item.brandLevel,jdbcType=INTEGER},
		#{item.sort,jdbcType=INTEGER},
		#{item.createPin,jdbcType=VARCHAR},
		#{item.updatePin,jdbcType=VARCHAR},
		#{item.yn,jdbcType=TINYINT},
		now(),
		now(),
		now()
			)
	</foreach>
	</insert>
	
	<update id="updateBrandInfo" parameterType="java.util.Map">
		UPDATE brand_info
		<set>
    	<if test="brandCode != null">
            brand_code = #{brandCode,jdbcType=VARCHAR},
    	</if>
    	<if test="brandName != null">
            brand_name = #{brandName,jdbcType=VARCHAR},
    	</if>
    	<if test="brandDesc != null">
            brand_desc = #{brandDesc,jdbcType=VARCHAR},
    	</if>
    	<if test="brandImg != null">
            brand_img = #{brandImg,jdbcType=VARCHAR},
    	</if>
    	<if test="brandStatus != null">
            brand_status = #{brandStatus,jdbcType=TINYINT},
    	</if>
    	<if test="brandLevel != null">
            brand_level = #{brandLevel,jdbcType=INTEGER},
    	</if>
    	<if test="sort != null">
            sort = #{sort,jdbcType=INTEGER},
    	</if>
    	<if test="createTime != null">
            create_time = #{createTime,jdbcType=TIMESTAMP},
    	</if>
    	<if test="createPin != null">
            create_pin = #{createPin,jdbcType=VARCHAR},
    	</if>
    	<if test="updatePin != null">
            update_pin = #{updatePin,jdbcType=VARCHAR},
    	</if>
    	<if test="yn != null">
            yn = #{yn,jdbcType=TINYINT},
    	</if>
        sys_version = sys_version + 1,
        update_time =now(),
        ts=now()
		</set>
		WHERE 
		id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateBrandInfoBatch"  parameterType="java.util.List">
	<foreach collection="list" item="item" index="index" open="" close="" separator=";">
		update brand_info 
		<set>
		<if test="item.brandCode != null">
			brand_code = #{item.brandCode,jdbcType=VARCHAR},
		</if>
		<if test="item.brandName != null">
			brand_name = #{item.brandName,jdbcType=VARCHAR},
		</if>
		<if test="item.brandDesc != null">
			brand_desc = #{item.brandDesc,jdbcType=VARCHAR},
		</if>
		<if test="item.brandImg != null">
			brand_img = #{item.brandImg,jdbcType=VARCHAR},
		</if>
		<if test="item.brandStatus != null">
			brand_status = #{item.brandStatus,jdbcType=TINYINT},
		</if>
		<if test="item.brandLevel != null">
			brand_level = #{item.brandLevel,jdbcType=INTEGER},
		</if>
		<if test="item.sort != null">
			sort = #{item.sort,jdbcType=INTEGER},
		</if>
		<if test="item.createTime != null">
			create_time = #{item.createTime,jdbcType=TIMESTAMP},
		</if>
		<if test="item.createPin != null">
			create_pin = #{item.createPin,jdbcType=VARCHAR},
		</if>
		<if test="item.updatePin != null">
			update_pin = #{item.updatePin,jdbcType=VARCHAR},
		</if>
		<if test="item.yn != null">
			yn = #{item.yn,jdbcType=TINYINT},
		</if>
		sys_version = sys_version + 1,
		update_time =now(),
		ts=now()
		</set>
		WHERE 
		id = #{item.id,jdbcType=BIGINT}

	</foreach>
	</update>
	
	<delete id="deleteBrandInfo" parameterType="com.jd.o2o.vipcart.domain.entity.BrandInfoEntity">
		DELETE FROM brand_info
		WHERE 
		<include refid="where-all-condition"/>
	</delete>
	
	<delete id="deleteOneBrandInfo" parameterType="java.lang.Long">
		DELETE FROM brand_info
		WHERE
		id = #{id,jdbcType=BIGINT}
	</delete>
</mapper>
