<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- recommended not modified but can be added ,Please contact liuhuiqing@jd.com for good advice.-->
<mapper namespace="dict_entryMapper">
	<resultMap id="dictEntryMap" type="com.jd.o2o.vipcart.domain.entity.DictEntryEntity">
		<result column="id" property="id" jdbcType="BIGINT" javaType="Long"/>
		<result column="dict_type_id" property="dictTypeId" jdbcType="BIGINT" javaType="Long"/>
		<result column="dict_code" property="dictCode" jdbcType="VARCHAR" javaType="String"/>
		<result column="dict_name" property="dictName" jdbcType="VARCHAR" javaType="String"/>
		<result column="remark" property="remark" jdbcType="VARCHAR" javaType="String"/>
		<result column="sort" property="sort" jdbcType="INTEGER" javaType="Integer"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result column="create_pin" property="createPin" jdbcType="VARCHAR" javaType="String"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result column="update_pin" property="updatePin" jdbcType="VARCHAR" javaType="String"/>
		<result column="sys_version" property="sysVersion" jdbcType="INTEGER" javaType="Integer"/>
		<result column="yn" property="yn" jdbcType="TINYINT" javaType="Integer"/>
		<result column="ts" property="ts" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
	</resultMap>
    
    <sql id="select-all-column">
		SELECT
			id AS id,
			dict_type_id AS dictTypeId,
			dict_code AS dictCode,
			dict_name AS dictName,
			remark AS remark,
			sort AS sort,
			create_time AS createTime,
			create_pin AS createPin,
			update_time AS updateTime,
			update_pin AS updatePin,
			sys_version AS sysVersion,
			yn AS yn,
			ts AS ts
		FROM dict_entry
	</sql>
	
	<sql id="where-all-condition">
		1=1 
		<if test="id != null">
			and id = #{id,jdbcType=BIGINT}
		</if>
		<if test="dictTypeId != null">
			and dict_type_id = #{dictTypeId,jdbcType=BIGINT}
		</if>
		<if test="dictCode != null and dictCode != ''">
			and dict_code = #{dictCode,jdbcType=VARCHAR}
		</if>
		<if test="dictName != null and dictName != ''">
			and dict_name = #{dictName,jdbcType=VARCHAR}
		</if>
		<if test="remark != null and remark != ''">
			and remark = #{remark,jdbcType=VARCHAR}
		</if>
		<if test="sort != null">
			and sort = #{sort,jdbcType=INTEGER}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="createPin != null and createPin != ''">
			and create_pin = #{createPin,jdbcType=VARCHAR}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="updatePin != null and updatePin != ''">
			and update_pin = #{updatePin,jdbcType=VARCHAR}
		</if>
		<if test="sysVersion != null">
			and sys_version = #{sysVersion,jdbcType=INTEGER}
		</if>
		<if test="yn != null">
			and yn = #{yn,jdbcType=TINYINT}
		</if>
		<if test="ts != null">
			and ts = #{ts,jdbcType=TIMESTAMP}
		</if>
	</sql>
	
	<select id="selectDictEntry" parameterType="com.jd.o2o.vipcart.domain.entity.DictEntryEntity" resultMap="dictEntryMap">
		<include refid="select-all-column"/>
		<where>
		<include refid="where-all-condition"/>
		<include refid="commonRoadMapper.sortSql"/>
		<include refid="commonRoadMapper.pagingLimit"/>
		</where>
	</select>
	
	<select id="selectOneDictEntry" parameterType="java.lang.Long" resultMap="dictEntryMap">
		<include refid="select-all-column"/>
		WHERE
		id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="countDictEntry" parameterType="com.jd.o2o.vipcart.domain.entity.DictEntryEntity" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM dict_entry
		<where>
		<include refid="where-all-condition"/>
		</where>
	</select>
	
	<insert id="insertDictEntry" parameterType="com.jd.o2o.vipcart.domain.entity.DictEntryEntity" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO dict_entry (
	<if test="dictTypeId != null">
		dict_type_id,
	</if>
	<if test="dictCode != null">
		dict_code,
	</if>
	<if test="dictName != null">
		dict_name,
	</if>
	<if test="remark != null">
		remark,
	</if>
	<if test="sort != null">
		sort,
	</if>
	<if test="createPin != null">
		create_pin,
	</if>
	<if test="updatePin != null">
		update_pin,
	</if>
	<if test="sysVersion != null">
		sys_version,
	</if>
	<if test="yn != null">
		yn,
	</if>
		create_time,
		update_time,
		ts
	) VALUES (
    <if test="dictTypeId != null">
    	#{dictTypeId,jdbcType=BIGINT},
    </if>
    <if test="dictCode != null">
    	#{dictCode,jdbcType=VARCHAR},
    </if>
    <if test="dictName != null">
    	#{dictName,jdbcType=VARCHAR},
    </if>
    <if test="remark != null">
    	#{remark,jdbcType=VARCHAR},
    </if>
    <if test="sort != null">
    	#{sort,jdbcType=INTEGER},
    </if>
    <if test="createPin != null">
    	#{createPin,jdbcType=VARCHAR},
    </if>
    <if test="updatePin != null">
    	#{updatePin,jdbcType=VARCHAR},
    </if>
    <if test="sysVersion != null">
    	#{sysVersion,jdbcType=INTEGER},
    </if>
    <if test="yn != null">
    	#{yn,jdbcType=TINYINT},
    </if>
		now(),
		now(),
		now()
	)
	</insert>
	
	<insert id="insertDictEntryBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
	<selectKey resultType="long" keyProperty="id" order="AFTER">
		SELECT
		LAST_INSERT_ID()
	</selectKey>
	INSERT INTO dict_entry (
		dict_type_id,
		dict_code,
		dict_name,
		remark,
		sort,
		create_pin,
		update_pin,
		yn,
		create_time,
		update_time,
		ts
	) VALUES
	<foreach collection="list" item="item" index="index" separator=",">
    (
		#{item.dictTypeId,jdbcType=BIGINT},
		#{item.dictCode,jdbcType=VARCHAR},
		#{item.dictName,jdbcType=VARCHAR},
		#{item.remark,jdbcType=VARCHAR},
		#{item.sort,jdbcType=INTEGER},
		#{item.createPin,jdbcType=VARCHAR},
		#{item.updatePin,jdbcType=VARCHAR},
		#{item.yn,jdbcType=TINYINT},
		now(),
		now(),
		now()
			)
	</foreach>
	</insert>
	
	<update id="updateDictEntry" parameterType="java.util.Map">
		UPDATE dict_entry
		<set>
    	<if test="dictTypeId != null">
            dict_type_id = #{dictTypeId,jdbcType=BIGINT},
    	</if>
    	<if test="dictCode != null">
            dict_code = #{dictCode,jdbcType=VARCHAR},
    	</if>
    	<if test="dictName != null">
            dict_name = #{dictName,jdbcType=VARCHAR},
    	</if>
    	<if test="remark != null">
            remark = #{remark,jdbcType=VARCHAR},
    	</if>
    	<if test="sort != null">
            sort = #{sort,jdbcType=INTEGER},
    	</if>
    	<if test="createTime != null">
            create_time = #{createTime,jdbcType=TIMESTAMP},
    	</if>
    	<if test="createPin != null">
            create_pin = #{createPin,jdbcType=VARCHAR},
    	</if>
    	<if test="updatePin != null">
            update_pin = #{updatePin,jdbcType=VARCHAR},
    	</if>
    	<if test="yn != null">
            yn = #{yn,jdbcType=TINYINT},
    	</if>
        sys_version = sys_version + 1,
        update_time =now(),
        ts=now()
		</set>
		WHERE 
		id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateDictEntryBatch"  parameterType="java.util.List">
	<foreach collection="list" item="item" index="index" open="" close="" separator=";">
		update dict_entry 
		<set>
		<if test="item.dictTypeId != null">
			dict_type_id = #{item.dictTypeId,jdbcType=BIGINT},
		</if>
		<if test="item.dictCode != null">
			dict_code = #{item.dictCode,jdbcType=VARCHAR},
		</if>
		<if test="item.dictName != null">
			dict_name = #{item.dictName,jdbcType=VARCHAR},
		</if>
		<if test="item.remark != null">
			remark = #{item.remark,jdbcType=VARCHAR},
		</if>
		<if test="item.sort != null">
			sort = #{item.sort,jdbcType=INTEGER},
		</if>
		<if test="item.createTime != null">
			create_time = #{item.createTime,jdbcType=TIMESTAMP},
		</if>
		<if test="item.createPin != null">
			create_pin = #{item.createPin,jdbcType=VARCHAR},
		</if>
		<if test="item.updatePin != null">
			update_pin = #{item.updatePin,jdbcType=VARCHAR},
		</if>
		<if test="item.yn != null">
			yn = #{item.yn,jdbcType=TINYINT},
		</if>
		sys_version = sys_version + 1,
		update_time =now(),
		ts=now()
		</set>
		WHERE 
		id = #{item.id,jdbcType=BIGINT}

	</foreach>
	</update>
	
	<delete id="deleteDictEntry" parameterType="com.jd.o2o.vipcart.domain.entity.DictEntryEntity">
		DELETE FROM dict_entry
		WHERE 
		<include refid="where-all-condition"/>
	</delete>
	
	<delete id="deleteOneDictEntry" parameterType="java.lang.Long">
		DELETE FROM dict_entry
		WHERE
		id = #{id,jdbcType=BIGINT}
	</delete>
</mapper>
