<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- recommended not modified but can be added ,Please contact liuhuiqing@jd.com for good advice.-->
<mapper namespace="ID_generatorMapper">
	<resultMap id="IDGeneratorMap" type="com.jd.o2o.vipcart.common.domain.id.IDGeneratorEntity">
		<result column="id" property="id" jdbcType="BIGINT" javaType="Long"/>
		<result column="primary_key" property="primaryKey" jdbcType="VARCHAR" javaType="String"/>
		<result column="step" property="step" jdbcType="INTEGER" javaType="Integer"/>
		<result column="sequence_no" property="sequenceNo" jdbcType="BIGINT" javaType="Long"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result column="create_pin" property="createPin" jdbcType="VARCHAR" javaType="String"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result column="update_pin" property="updatePin" jdbcType="VARCHAR" javaType="String"/>
		<result column="sys_version" property="sysVersion" jdbcType="INTEGER" javaType="Integer"/>
		<result column="yn" property="yn" jdbcType="TINYINT" javaType="Integer"/>
		<result column="ts" property="ts" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
	</resultMap>
    
    <sql id="select-all-column">
		SELECT
			id AS id,
			primary_key AS primaryKey,
			step AS step,
			sequence_no AS sequenceNo,
			create_time AS createTime,
			create_pin AS createPin,
			update_time AS updateTime,
			update_pin AS updatePin,
			sys_version AS sysVersion,
			yn AS yn,
			ts AS ts
		FROM ID_generator
	</sql>
	
	<sql id="where-all-condition">
		1=1 
		<if test="id != null">
			and id = #{id,jdbcType=BIGINT}
		</if>
		<if test="primaryKey != null and primaryKey != ''">
			and primary_key = #{primaryKey,jdbcType=VARCHAR}
		</if>
		<if test="step != null">
			and step = #{step,jdbcType=INTEGER}
		</if>
		<if test="sequenceNo != null">
			and sequence_no = #{sequenceNo,jdbcType=BIGINT}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="createPin != null and createPin != ''">
			and create_pin = #{createPin,jdbcType=VARCHAR}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="updatePin != null and updatePin != ''">
			and update_pin = #{updatePin,jdbcType=VARCHAR}
		</if>
		<if test="sysVersion != null">
			and sys_version = #{sysVersion,jdbcType=INTEGER}
		</if>
		<if test="yn != null">
			and yn = #{yn,jdbcType=TINYINT}
		</if>
		<if test="ts != null">
			and ts = #{ts,jdbcType=TIMESTAMP}
		</if>
	</sql>
	
	<select id="selectIDGenerator" parameterType="com.jd.o2o.vipcart.common.domain.id.IDGeneratorEntity" resultMap="IDGeneratorMap">
		<include refid="select-all-column"/>
		<where>
		<include refid="where-all-condition"/>
		<include refid="commonRoadMapper.sortSql"/>
		<include refid="commonRoadMapper.pagingLimit"/>
		</where>
	</select>
	
	<select id="selectOneIDGenerator" parameterType="java.lang.Long" resultMap="IDGeneratorMap">
		<include refid="select-all-column"/>
		WHERE
		id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="countIDGenerator" parameterType="com.jd.o2o.vipcart.common.domain.id.IDGeneratorEntity" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM ID_generator
		<where>
		<include refid="where-all-condition"/>
		</where>
	</select>
	
	<insert id="insertIDGenerator" parameterType="com.jd.o2o.vipcart.common.domain.id.IDGeneratorEntity" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO ID_generator (
	<if test="primaryKey != null">
		primary_key,
	</if>
	<if test="step != null">
		step,
	</if>
	<if test="sequenceNo != null">
		sequence_no,
	</if>
	<if test="createPin != null">
		create_pin,
	</if>
	<if test="updatePin != null">
		update_pin,
	</if>
	<if test="sysVersion != null">
		sys_version,
	</if>
	<if test="yn != null">
		yn,
	</if>
		create_time,
		update_time,
		ts
	) VALUES (
    <if test="primaryKey != null">
    	#{primaryKey,jdbcType=VARCHAR},
    </if>
    <if test="step != null">
    	#{step,jdbcType=INTEGER},
    </if>
    <if test="sequenceNo != null">
    	#{sequenceNo,jdbcType=BIGINT},
    </if>
    <if test="createPin != null">
    	#{createPin,jdbcType=VARCHAR},
    </if>
    <if test="updatePin != null">
    	#{updatePin,jdbcType=VARCHAR},
    </if>
    <if test="sysVersion != null">
    	#{sysVersion,jdbcType=INTEGER},
    </if>
    <if test="yn != null">
    	#{yn,jdbcType=TINYINT},
    </if>
		now(),
		now(),
		now()
	)
	</insert>
	
	<insert id="insertIDGeneratorBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
	<selectKey resultType="long" keyProperty="id" order="AFTER">
		SELECT
		LAST_INSERT_ID()
	</selectKey>
	INSERT INTO ID_generator (
		primary_key,
		step,
		sequence_no,
		create_pin,
		update_pin,
		yn,
		create_time,
		update_time,
		ts
	) VALUES
	<foreach collection="list" item="item" index="index" separator=",">
    (
		#{item.primaryKey,jdbcType=VARCHAR},
		#{item.step,jdbcType=INTEGER},
		#{item.sequenceNo,jdbcType=BIGINT},
		#{item.createPin,jdbcType=VARCHAR},
		#{item.updatePin,jdbcType=VARCHAR},
		#{item.yn,jdbcType=TINYINT},
		now(),
		now(),
		now()
			)
	</foreach>
	</insert>
	
	<update id="updateIDGenerator" parameterType="java.util.Map">
		UPDATE ID_generator
		<set>
    	<if test="primaryKey != null">
            primary_key = #{primaryKey,jdbcType=VARCHAR},
    	</if>
    	<if test="step != null">
            step = #{step,jdbcType=INTEGER},
    	</if>
    	<if test="sequenceNo != null">
            sequence_no = #{sequenceNo,jdbcType=BIGINT},
    	</if>
    	<if test="createTime != null">
            create_time = #{createTime,jdbcType=TIMESTAMP},
    	</if>
    	<if test="createPin != null">
            create_pin = #{createPin,jdbcType=VARCHAR},
    	</if>
    	<if test="updatePin != null">
            update_pin = #{updatePin,jdbcType=VARCHAR},
    	</if>
    	<if test="yn != null">
            yn = #{yn,jdbcType=TINYINT},
    	</if>
        sys_version = sys_version + 1,
        update_time =now(),
        ts=now()
		</set>
		WHERE 
		id = #{id,jdbcType=BIGINT}
        <if test="sysVersion != null">
            and sys_version = #{sysVersion,jdbcType=INTEGER}
        </if>
	</update>
	
	<update id="updateIDGeneratorBatch"  parameterType="java.util.List">
	<foreach collection="list" item="item" index="index" open="" close="" separator=";">
		update ID_generator 
		<set>
		<if test="item.primaryKey != null">
			primary_key = #{item.primaryKey,jdbcType=VARCHAR},
		</if>
		<if test="item.step != null">
			step = #{item.step,jdbcType=INTEGER},
		</if>
		<if test="item.sequenceNo != null">
			sequence_no = #{item.sequenceNo,jdbcType=BIGINT},
		</if>
		<if test="item.createTime != null">
			create_time = #{item.createTime,jdbcType=TIMESTAMP},
		</if>
		<if test="item.createPin != null">
			create_pin = #{item.createPin,jdbcType=VARCHAR},
		</if>
		<if test="item.updatePin != null">
			update_pin = #{item.updatePin,jdbcType=VARCHAR},
		</if>
		<if test="item.yn != null">
			yn = #{item.yn,jdbcType=TINYINT},
		</if>
		sys_version = sys_version + 1,
		update_time =now(),
		ts=now()
		</set>
		WHERE 
		id = #{item.id,jdbcType=BIGINT}

	</foreach>
	</update>
	
	<delete id="deleteIDGenerator" parameterType="com.jd.o2o.vipcart.common.domain.id.IDGeneratorEntity">
		DELETE FROM ID_generator
		WHERE 
		<include refid="where-all-condition"/>
	</delete>
	
	<delete id="deleteOneIDGenerator" parameterType="java.lang.Long">
		DELETE FROM ID_generator
		WHERE
		id = #{id,jdbcType=BIGINT}
	</delete>
</mapper>
